<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<div class="col-md-6">
		<button type="button" class="btn btn-sm btn-primary">
			<a class="navbar-brand " href="{{url_for('showManufacturers')}}">
					<i class="fas fa-home"></i> Manufacturers
			</a>
		</button>
	</div>

	<div class="col-md-6">
		<div class="btn-group float-right mt-2" role="group">
			{%if 'username' not in session %}
				<a class="btn btn-primary" href="{{url_for('showLogin')}}" role="button">Login </a>
			{% else %}
				<a class="btn btn-primary" href="{{url_for('disconnect')}}" role="button">Logout </a>
			{% endif %}
		</div>
	</div>
</nav>